@import "tailwindcss";

@plugin "daisyui"; 

/* Giữ lại một chút reset cơ bản để không bị lỗi font */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;
}

